@import './components/Nav/Nav.css';
@import './components/Header/Header.css';
@import './components/Section/Section.css';
@import './components/Box/Box.css';
@import './components/Tabs/Tabs.css';
@import './components/List/List.css';

body {
	box-sizing: border-box;
	min-width: 300px;
	margin: 1px grey;
	background: url("https://apod.nasa.gov/apod/image/1710/SteveAuroralArc_allskyproj960.jpg");
	background-size: cover;
	position: fixed;
}

footer {
  background: rgb(106, 130, 230);
  color:white;
}
