.Box__title {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 15px;
}

.Box--lightgreen {
  background-color: lightgreen;
}

.Box--lightblue {
  background-color: cornflowerblue;
}

.Box--green {
  background-color: lightblue;

}

.Box--yellow {
  background-color: lightgray;
}